*{
	padding:0;
	margin: 0;
}

a{
	text-decoration: none;
}
#menu_list{
	border:1px solid black;
	width:30em;
	overflow: hidden;
}

.d_list{
	div {
    height: 5em;
    width: 30em;
    background: url('http://pimg.tradeindia.com/00288122/b/0/Our-Valuable-Client-List-Click-on-Image-.jpg');
    background-size: 100% 100%;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.d_list:hover {
    background-size: 150% 150%;
}
}

table{
	background-color: white;
	display:block;
	height:5em;
	width:30em;
}

table:hover{
	background-color: transparent;
	color:white;
}

#video_list{
	display:none;
}

#a{
	cursor:pointer;
}

#b{
	cursor:pointer;
}

